<div class="section-main">
    <div class="section-left">
        <img src="https://st3.depositphotos.com/5794592/14027/v/450/depositphotos_140277830-stock-illustration-front-view-of-train-station.jpg" alt="">
    </div>
    <div class="section-right">
        <div class="title">
            <h1>ბილეთის ყიდვამდე გაითვალისწინე</h1>
        </div>
        <div class="about">
        </div>
        <div class="container-list">
            <div class="container">
                <img src="https://tkt.ge/static/images/baby.svg" alt="">
                <h4>5-დან 10 წლამდე ასაკის ბავშვებზე, მოქმედებს 50%-იანი ფასდაკლება</h4>
            </div>
            <div class="container">
                <img src="https://tkt.ge/static/images/student.svg" alt="">
                <h4>სტუდენტის სტატუსით, ვრცელდება 50%-იანი ფასდაკლება</h4>
            </div>
            <div class="container">
                <img src="https://tkt.ge/static/images/return.svg" alt="">
                <h4>ბილეთის დაბრუნება შესაძლებელია, გასვლამდე 3 საათით ადრე</h4>
            </div>
            <div class="container">
                <img src="https://tkt.ge/static/images/cancel.svg" alt="">
                <h4>მატარებელზე დაგვიანების შემთხვევაში, ბილეთი დაბრუნებას არ ექვემდებარება</h4>
            </div>
        </div>
    </div>
</div>
