<div class="wrapper">
    <app-header></app-header>
  
        <div class="train-schedule" *ngIf="departureData && departureData.length > 0; else noDataTemplate">
            <table>
            <thead>
                <tr>
                  <th>მატარებლის სახელი</th>
                  <th>გამგზავრება</th>
                  <th>ჩასვლა</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let train of departureData[0].trains">
                  <td>#{{ train.number }} {{ train.name }}</td>
                  <td>{{ train.departure }} {{ departureData.source }}</td>
                  <td>{{ train.arrive }} {{ departureData.destination }}</td>
                  
                  <td>
                    <button (click)="bookTrain(train)">დაჯავშნა</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    
        <ng-template #noDataTemplate>
            <div class="no-data">
                <h1>აღნიშნული რეისი არ მოიძებნა!</h1>
              </div>
          </ng-template>
    <app-footer></app-footer>
</div>